{% extends "main_template.html" %}

{% block title %}all video{% endblock %}

{% block video %}
{% for video in content %}
    <iframe width="956" height="538" src="{{ video.urls }}"></iframe>
    <a href="/hello/one_video/{{ video.id }}/">
        <h4>
            <i>{{ video.title }}</i>
        </h4>
    </a>
    <h3>{{ video.date }}</h3>
    <h3>Likes: {{ video.likes }}</h3>
    <h5>{{ video.description }}</h5>
    {% for com in video.comment.all %}
        <h5>{{ com.text }}</h5>
        <h6>{{ com.date }}</h6>
        <hr>
    {% endfor %}

{% include "test.html" with some_id=video.id %}
{% endfor %}
{% endblock %}